<ion-header>
  <ion-toolbar class="axHeaderBackground">
    <ion-title align-title color="light" text-center>
      <img src="../../assets/img/logo_live.png" class="axTitle"/>
    </ion-title>
    <ion-buttons slot="secondary">
      <ion-button color="light">
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <!--h1 class="title">
    <img class="title-image" src="../../assets/imgs/logo_live.png" width="123" height="43" />
  </h1>
  <div class="buttons">
    <button class="button">Right Button</button>
  </div-->
</ion-header>

<ion-content>
  <!--ion-list lines="none">
    <ion-list-header>
      <ion-label>Usuarios</ion-label>
    </ion-list-header>
    <div *ngFor="let user of userList">
      <p>{{user.firstName}}</p>
    </div>
  </ion-list-->
  <div>
    <ion-row>
      <ion-col col="12" size="6" offset="3" >
        <div class="axMenuIconList">
          <div class="axMenuIcon">
            <img src="../../assets/icon/menu_bot.png"/>
            <div>Bot</div>
            <div class="axColorLine"></div>
          </div>
          <div class="axMenuIcon">
            <img src="../../assets/icon/menu_ruta.png"/>
            <div>Ruta virtual</div>
            <div class="axColorLine"></div>
          </div>
          <div class="axMenuIcon">
            <img src="../../assets/icon/menu_localiza.png"/>
            <div>Localiza</div>
            <div class="axColorLine"></div>
          </div>
          <div class="axMenuIcon">
            <img src="../../assets/icon/menu_aumentada.png"/>
            <div>Realidad aumentada</div>
            <div class="axColorLine"></div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </div>
  
  
</ion-content>
